.home-banner
  position: relative
  margin-top: 0px
  text-align: left

  #newsCarousel
    height: 600px

    .carousel-inner
      .item
        img
          object-fit: cover
          height: 600px
          width: 100vw
        .carousel-caption
          text-align: left
          width: 35%
          h3
            color: #ffffff
            font-size: 3vw
            font-weight: bold
            line-height: 1.07
          span
            color: #ffffff
            font-size: 24px

  .heading

.home-page2
  height: 652px
  .blue-background
    background-color: #f0f7fc
    width: 83%
    margin-top: 81px
    height: 51%
    text-align: right

    h2
      color: #0066b3
      font-size: 3.33vw
      padding-right: 50px
      position: relative
      top: -1.3vw

    .detail-container
      text-align: left
      width: 30vw
      margin-left: 10vw
      .top-part
        background-color: #090942

        h3
          color: #fff
          font-size: 2.5vw
          padding-left: 24px
          padding-right: 95px
          padding-top: 50px

        .vl
          border-style: solid
          border-color: #0066b3
          border-left: 0
          border-top: 0
          border-bottom: 0

        hr
          display: block
          height: 6px
          width: 7.3vw
          background-color: #0066b3
          margin-left: 30px
          border: none

        h4
          color: #fff
          font-size: 2vw
          padding-left: 24px
          padding-right: 95px
          line-height: 3vw
          padding-bottom: 90px

        h5
          color: #fff
          font-size: 2vw
          line-height: 3vw

        p
          font-size: 1.3vw
          line-height: 2vw
          color: #fff
          padding-left: 24px
          padding-right: 24px
          padding-bottom: 40px

      .learn
        margin-top: 26px

        hr
          background-color: #0066b3
          display: block
          height: 7px
          width: 101px
          margin-left: 0px

        .learn-more
          font-size: 16px
          color: #090942

.home-page3
  background-color: #f0f7fc
  h4
    color: #0066b3
    font-size: 40px
    line-height: 50px
  #news-row
    height: 450px
    margin-left: 10vw
    margin-right: 10vw
    width: 80vw

    .news-container
