.home-banner
  position: relative
  margin-top: 0px
  text-align: left

  #newsCarousel
    height: 600px

    .carousel-inner
      .item
        img
          object-fit: cover
          height: 600px
          width: 100vw
        .carousel-caption
          text-align: left
          width: 30%
          h3
            color: #ffffff
            font-size: 45px
            font-weight: bold
            line-height: 1.07
          span
            color: #ffffff
            font-size: 24px

  .heading

.home-page2
  height: 652px
  .blue-background
    background-color: #f0f7fc
    width: 83%
    margin-top: 81px
    height: 51%
    text-align: right

    h2
      color: #0066b3
      font-size: 40px
      padding-right: 50px
      position: relative
      top: -15px

    .detail-container
      text-align: left
      width: 30vw
      margin-left: 10vw
      .top-part
        background-color: #090942

        h3
          color: #fff
          font-size: 40px
          padding-left: 24px
          padding-right: 95px
          padding-top: 50px

        hr
          display: block
          height: 6px
          width: 89px
          background-color: #0066b3
          margin-left: 30px
          border: none

        h4
          color: #fff
          font-size: 26px
          padding-left: 24px
          padding-right: 95px
          line-height: 32px
          padding-bottom: 90px
      .learn
        margin-top: 26px

        hr
          background-color: #0066b3
          display: block
          height: 7px
          width: 101px
          margin-left: 0px

        .learn-more
          font-size: 16px
          color: #090942
